u {
    color: red
}
.one {
    color: rgb(150, 225, 190);
}
.two{
    color: cornflowerblue;
}
.three{
    color: cyan;
}
.four{
    color: #c22f67;
}
.five{
    color: salmon;
}
.six{
    color: lightblue;
}
.seven{
    color: magenta;
}